<div class="input-group input-group-sm">
    <input type="text" class="form-control" placeholder="Search" id="searchKeyword" />
    <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-sm" type="button" id="search">
            <i class="material-icons align-middle">
                search
            </i>
        </button>
    </div>
</div>

@code {

}
